body {
  background-color: #fff !important;
}
.form__container {
  max-width: 500px !important;
}
.container {
  max-width: 600px !important;
}
.form__header {
  width: fit-content;
}

footer {
  display: none;
}
